## 1. Import libraries

In [1]:
import pandas as pd
import numpy as np
import sys
import os
sys.path.append("..")
from src import *

## 2. Load Raw Data

In [2]:
df = load_data("../data/raw/weatherAUS.csv")

Đã load dữ liệu: 145460 hàng, 23 cột

## 3. Handle missing value

Num: dùng mean  
Cat: dùng phần tử xuất hiện nhiều nhất  
Xóa các dòng RainTomorrow là NA  
RainToday, RainTomorrow: 0: No, 1:Yes, 2: NA (chỉ RainToday)

In [3]:
df = handle_missing(df)

Xử lý missing hoàn tất

## 4. Find IQR and handle

Cắt (clip) các giá trị nằm ngoài khoảng

In [4]:
df = handle_outliers_iqr(df)

Hoàn thành xử lý outliers bằng IQR

## 5. Normalization

Rainfall: log + robust (63%: 0, có ít ngày mưa to: 200-300 => cực kì lệch)  
Temp & Humidity: StandardScaler (Phân bố gần chuẩn (hình chuông), ít outliers)  
Các cột còn lại: MinMaxScaler (Có outliers nhưng ít)

In [5]:
df = normalize_features(df)

Hoàn thành chuẩn hóa dữ liệu

## 6. Convert type of column 'Date'

In [6]:
df = parse_date_column(df)

Đã xử lý cột Date

## 7. Label encoding

Xử lý các cột: Location, WindGustDir, WindDir9am, WindDir3pm

In [7]:
df = label_encoding(df)

Hoàn thành Label Encoding

## 8. Dimensionality reduction (using PCA)

In [8]:
df = pca_reduction(df, variance=0.95)

Giảm chiều thành công: 4 components (giữ 95.0% variance)

,Date,RainToday,RainTomorrow,PC1,PC2,PC3,PC4
0,2008-12-01,0.0,0.0,-21.741607,-9.698775,1.334745,1.500930
1,2008-12-02,0.0,0.0,-21.730660,-7.599790,-5.521950,0.819284
2,2008-12-03,0.0,0.0,-21.742942,-11.496757,0.351044,0.799757
3,2008-12-04,0.0,0.0,-21.762205,6.430522,5.784578,-2.197783
4,2008-12-05,0.0,0.0,-21.747783,0.218888,-6.348871,-4.566217

## 9. Split into train and test

In [11]:
train_df, test_df = train_test_split(df)

Chia dữ liệu hoàn tất

,Date,RainToday,RainTomorrow,PC1,PC2,PC3,PC4
29982,2009-05-31,0.0,0.0,10.266744,-1.541747,-2.792174,4.351196
95710,2014-01-16,0.0,0.0,15.257374,11.633472,-0.556523,-0.346747
41980,2010-09-06,0.0,0.0,21.236079,2.010559,3.825727,-4.550500
112075,2009-05-27,0.0,0.0,22.267432,-1.181954,-3.975330,-0.211566
39039,2009-08-14,0.0,0.0,18.266021,-4.384604,-9.445071,-0.463089

## 10. Save processed data

In [10]:
train_df.to_csv("../data/processed/train.csv", index=False)
test_df.to_csv("../data/processed/test.csv", index=False)
print("Lưu thành công")

Lưu thành công